AnieRobot/config.py
AnieRobot/*.session
AnieRobot/*.session-journal
AnieRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AnieRobot/modules/helper_funcs/temp.txt
AnieRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
aniebot.session-journal
updates.txt
*.exe
